#grid{
    border: 10px solid rgb(0, 0, 0);
    display:grid;
    padding-left:30px;
    padding-bottom:15px;
    grid-template-columns:1fr 1fr 1fr;
}                  

#picture { 
    text-align: center; 
}

BODY{
    font-family: 'Stylish', sans-serif;
    text-align: center; 
    font-size:30px;
  }

h1{
    font-size:70px;
    text-align: center;
    border-bottom:20px solid rgb(255, 211, 240);
    padding:30px;
}                    

@media all and (min-width: 600px){ 
body{
    background-color:rgb(161, 217, 255);
}}

@media all and (max-width: 600px) {
body{
    background-color:rgb(30, 27, 226);
}}